@charset "utf-8";
/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: black;
}

body {
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sect {
  padding: 90px 0;
  position: relative;
}


.collapse {
  display: block;
}

.btn {
  background-color: #3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}


.btn:hover {
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}

.price-box__wrap:hover .btn {
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
}

.btn--revert {
  background-color: transparent;
  color: #8198ae;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn--revert:hover {
  background-color: transparent;
  color: #1f4568;
  box-shadow: none;
  border: 1px solid #8198ae;
}

.btn--width {
  width: 120px;
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover {
  background-color: #fff;
  color: #8198ae;
}

/*menu header*/
.header {
  padding: 30px 25px;
}

.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu {
  float: right;
}

.header__el {
  padding: 0 25px;
  display: inline-block;
}

.header__img {
  display: inline-block;
  vertical-align: middle;
}

.header__logo, .header__menu {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light {
  color: #8198ae;
}

.header__link {
  color: #1f4568;
  font-size: 14px;

}

.header__link:hover {
  text-decoration: none;
  color: #3a9fff;
}

.navbar-toggle .icon-bar {
  background-color: #8198ae;
}

.navbar-toggle {
  margin: 5px 0;
}


/* section */
.sect {
  padding: 90px 0;
  position: relative;
}

.site {
  text-align: center;
}

.site__title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.site__subtitle {
  font-size: 22px;
  color: #8198ae;
  margin: 15px 0 40px 0;
  text-align: center;
}

.site__img {
  margin-left:200 px;
 text-align:center;
}

.site__box-link .btn--revert {
  margin-left: 15px;
}
.card-container {
	text-align: center;
  cursor: pointer;
  height: 520px;
  position: relative;
  width: 750px;
}
.card {
	margin-left:400px;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: black;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
